@charset "utf-8";

* 
{
	margin:0;
	padding: 0;
}

body
{
	font-family: "ProximaNovaLight","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar 
{
	background-color:#39f;
	border: none;
	margin-bottom: 0 !important;
	border-radius: none;

}

.navbar-inverse .navbar-nav>li>a 
{
		  color: white;
          font-size:12px;
          font-family: "ProximaNovaLight","Helvetica Neue",Helvetica,Arial,sans-serif;	
}

.navbar-inverse .navbar-nav>li>a:hover
{
	background-color:#5DB2FF;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
{
	background-color: #5DB2FF;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a
{
	color:#000;
}

.uk-grid
{
	margin-top: 5%!important;
	margin-bottom: 2%!important;
}



.uk-panel.uk-panel-box.uk-text-center
{
	background-color:#f4f4f4;
}

